<div class= "bgpurple">
    <div class="container-flex navb">
      <h1 style="color:white">Role Application</h1>
      <img src="./assets/Trusoft 1.png" alt="trusoftlogo">
    </div>
    <div class="container-flex">
      <p class="firstp">Follow these steps to complete your application</p>
    </div>
    <div class="line"></div>
    <div class="line-two"></div>  
    <div class="cons">
        <div class="steps">
            <div class="d-flex justify-content-end position-relative">
                <p class="text-white secp">Profile</p>
                <i class="material-icons activ icons">person</i>
                <span></span>
                <div class="lines"></div> 
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Role Selection</p>
                <i class="material-icons icons">person</i>
                <!-- <span></span> -->
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Quiz</p>
                <i class="material-icons icons">person</i>
                <!-- <span></span> -->
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Complete</p>
                <i class="material-icons icons">person</i>
                <!-- <span></span> -->
            </div>
        </div>
        <div class="form">
            <p>Step 1/5</p>
            <h5>Fill in your name below</h5>
            <div class="mb-4 mt-5 namefill">
                <label for="formGroupExampleInput" class="form-label colb">Your Name</label>
                <input type="text" class="form-control bgp" id="formGroupExampleInput" placeholder="Enter your name">
            </div>
            <div class="mb-4">
                <label for="formGroupExampleInput2" class="form-label colb">Gender</label>
                <select class="form-select colg bgp" id="formGroupExampleInput2">
                    <option selected>Your Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                </div>
            <div class="mb-4">
                <label for="formGroupExampleInput3" class="form-label colb">City/State</label>
                <input type="text" class="form-control bgp" id="formGroupExampleInput3" placeholder="City or state of residence">
            </div>
            <div class="direct mt-5">
                <a routerLink="/role-selection" class="btn buttn">Next step</a>
            </div>
        </div>
    </div>
</div>