<div class= "bgpurple">
    <div class="container-flex navb">
      <h1 style="color:white">Role Application</h1>
      <img src="./assets/Trusoft 1.png" alt="trusoftlogo">
    </div>
    <div class="container-flex">
      <p class="firstp">Follow these steps to complete your application</p>
    </div>
    <div class="line"></div>
    <div class="line-two"></div>   
   <div class="cons">
        <div class="steps">
            <div class="d-flex justify-content-end position-relative">
                <p class="text-white secp">Profile</p>
                <i class="material-icons icons">person</i>
                <span></span>
                <div class="lines"></div>
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Role Selection</p>
                <i class="material-icons icons">person</i>
                <span></span>
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Quiz</p>
                <i class="material-icons icons">person</i>
                <span></span>
            </div>
            <div class="d-flex justify-content-end itms">
                <p>Complete</p>
                <i class="material-icons activ icons">person</i>
                <span></span>
            </div>
        </div>
        <div class="form">
            <p>Step 4/5</p>
            <h5>Complete Submission</h5>
            <p class="text-white">Thanks for taking the time to complete this form. Please drop your email below and we will be in contact</p>
            <p class="text-white">within the next 24 hours.</p>
            <div class="mb-4 mt-5 namefill">
                <label for="formGroupExampleInput" class="colb form-label">Your mail</label>
                <input class="form-control bgp" type="text" placeholder="Enter your mail">
                <div class="direct mt-5">
                    <a class="goback" href="/quiz">Back</a>
                    <div>
                        <a routerLink="/result-page" class="btn buttn">Complete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
